body {
   background-color: transparent;
   padding: 0px;
   margin: 0px;
   text-size-adjust: none;
}

p {
   margin-top: 20px;
   margin-right: 20px;
   font-family: monospace;
   font-size: 10pt;
   text-align: right;
}

a.www {
   text-decoration: none;
   color: brown;
}

a.mail {
   text-decoration: none;
   color: blue;
}

a.phone {
   text-decoration: none;
   color: green;
}
