body {
   background-color: #FFFFFF;
   background-attachment: fixed;
   margin-top: 60px;
   margin-bottom: 60px;
   margin-left: 0px;
   margin-right: 0px;
   padding: 0px;
   font-size: 0px;
   text-size-adjust: none;
}

div.header {
   position: fixed;
   top: 0px;
   left: 0px;
   right: 0px;
   height: 60px;
}

div.address {
    position: static;
    width: 100%;
    height: 85px;
}

div.footer {
   position: fixed;
   bottom: 0px;
   left: 0px;
   right: 0px;
   height: 60px;
}

object {
   border: none;
   padding: 0px;
   margin: 0px;
   width: 100%;
   height: 100%;
}

h1 {
   color: red;
   font-family: "Times New Roman";
   font-style: italic;
   font-size: 32px;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}

h2 {
   color: brown;
   font-family: "Times New Roman";
   font-size: 24px;
   font-style: normal;
   padding-left: 10px;
   padding-right: 10px;
   text-align: left;
}

h3 {
   color: green;
   font-family: "Times New Roman";
   font-size: 18px;
   font-style: normal;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}

h4 {
   color: darkred;
   font-family: "Times New Roman";
   font-size: 18px;
   font-style: normal;
   padding-left: 10px;
   padding-right: 10px;
   text-align: left;
}

p.text {
   color: black;
   font-family: "Arial";
   font-size: 16px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-align: left;
   padding-left: 10px;
   padding-right: 10px;
}

p.cite {
   color: black;
   font-family: "Arial";
   font-size: 16px;
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   text-align: right;
   padding-left: 10px;
   padding-right: 10px;
}

p.quote {
   color: darkgreen;
   font-family: "Times New Roman";
   font-size: 18px;
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   text-align: center;
   padding-left: 10px;
   padding-right: 10px;
}

p.subtitle {
   color: black;
   font-family: "Arial";
   font-size: 16px;
   font-weight: bold;
   font-style: normal;
   text-decoration: underline;
   text-align: left;
   padding-left: 10px;
   padding-right: 10px;
}

p.figure {
   color: black;
   font-family: "Arial";
   font-size: 16px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-align: center;
   padding-left: 0px;
   padding-right: 0px;
}

p.caption {
   color: black;
   font-family: "Arial";
   font-size: 16px;
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   text-align: center;
   padding-left: 0px;
   padding-right: 0px;
}

li {
   color: black;
   font-family: "Arial";
   font-size: 16px;
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   text-align: left;
}

ul.bullet {
   list-style: disc;
   margin-bottom: 10px;
}
ul.toc {
   list-style: none;
   margin-bottom: 10px;
}

ol.decimal {
   list-style: decimal;
   margin-bottom: 10px;
}

a.link {
   text-decoration: none;
}

a.anchor {
   display: block;
   position: relative;
   top: -65px;
   visibility: hidden;
}

table {
   padding: 0px;
   margin: 0px;
   border-spacing: 0;
   width: 100%;
}
