body {
   background-color: #FFFFFF;
   margin-top: 60px;
   margin-bottom: 60px;
   margin-left: 0px;
   margin-right: 0px;
   padding: 0px;
   font-size: 0px;
   text-size-adjust: none;
}

div.header {
   position: fixed;
   top: 0px;
   left: 0px;
   right: 0px;
   height: 60px;
}

div.address {
    position: static;
    width: 100%;
    height: 85px;
}

div.footer {
   position: fixed;
   bottom: 0px;
   left: 0px;
   right: 0px;
   height: 60px;
}

object {
   border: none;
   padding: 0px;
   margin: 0px;
   width: 100%;
   height: 100%;
}

h1 {
   color: red;
   font-family: "Times New Roman";
   font-style: italic;
   font-size: 32px;
   padding-left: 0px;
   padding-right: 0px;
   text-align: center;
}

h2 {
   color: brown;
   font-family: "Times New Roman";
   font-size: 24px;
   font-style: normal;
   padding-left: 10px;
   padding-right: 10px;
   text-align: left;
}

h3 {
   color: green;
   font-family: "Times New Roman";
   font-size: 18px;
   font-style: normal;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}

p, li {
   color: black;
   font-family: "Arial";
   font-size: 16px;
   font-style: normal;
   padding-left: 10px;
   padding-right: 10px;
   text-align: left;
}

span {
   color: darkgreen;
}

a {
   text-decoration: none;
}

table {
   padding-left: 10px;
   padding-right: 10px;
   margin: 0px;
   border-spacing: 0;
   width:100%;
}

img {
   text-align: center;
}

img.wide {
   width: 100%;
}
