.body_main {
   padding: 0px;
   margin: 0px;
}

.div_header {
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 60px;
}

.div_footer {
   position: fixed;
   bottom: 0px;
   left: 0px;
   width: 100%;
   height: 60px;
}

.div_pdf {
   position: fixed;
   top: 60px;
   bottom: 60px;
   left: 0px;
   right: 0px;
}

.div_underlay {
   width: 100%;
   height: 60px;
}

.iframe_bar {
   border: none;
   width: 100%;
   height: 100%;
}

.iframe_addr {
   border: none;
   width: 100%;
   height: 100px;
}

.obj_pdf {
   border: none;
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
}

.table_general {
   border-spacing: 0;
   width:100%;
}

.headinfo {
   text-align: right;
   margin-top: 20px;
   margin-right: 20px;
}

.date {
   color: green;
   text-align: center;
}

.title {
   color: red;
   font-style: italic;
   text-align: center;
}

.subtitle {
   color: blue;
}

.head2 {
   font-family: "Courier New";
   padding-left: 10px;
   padding-right: 10px;
}

.text {
   font-family: "Courier New";
   font-size: 10pt;
   padding-left: 10px;
   padding-right: 10px;
}

.figure {
   text-align: center;
   width: 100%;
}
