body {
   background-color: #041004;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   text-size-adjust: none;
}

p {
   margin: 0px;
   padding: 0px;
   font-family: Times;
   font-size: 10pt;
   font-style: italic;
   text-align: center;
}

a {
   display: inline-block;
   color: #00D6E3;
   text-decoration: none;
}

span.rights {
   color: #FFFFFF;
}

span.author {
   color: #F8FF00;
}
