body {
   color: #FFFFFF;
   background-color: #041004;
   font-family: monospace;
   font-size: 8pt;
   font-style: italic;
   text-align: center;
}

a {
   display: inline-block;
   color: #00D6E3;
   text-decoration: none;
}

span.author {
   color: #F8FF00;
}
