body {
   background-color: #03324A;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   text-size-adjust: none;
}

table {
   border-spacing: 0;
   margin: 0px;
   padding: 0px;
   width: 100%;
}

td.logo {
   margin: 0px;
   padding: 0px;
   text-align: left;
   width: 90px;
   height: 60px;
}

td.menu {
   margin: 0px;
   padding: 0px 0px 0px 40px;
   text-align: left;
   height: 60px;
}

td.links {
   margin: 0px;
   padding: 0px 20px 0px 0px;
   text-align: right;
   width: 200px;
   height: 60px;
}

p {
   margin: 0px;
   padding: 0px;
   color: #FFFF00;
   font-family: monospace;
   font-size: 10pt;
   font-weight: bold;
}

a {
   display: inline-block;
   color: #FFD76E;
   text-decoration: none;
}

img.logo {
   width: 90px;
}

img.menu {
   height: 16px;
   vertical-align: middle;
}

img.links {
   height: 30px;
   padding-right: 10px;
}
