.body_main {
   background-color: #03324A;
   font-family: monospace;
   margin: 0;
   padding: 0;
}

.table_main {
   border-spacing: 0;
   font-weight: bold;
   text-align: center;
   width: 100%;
   height: 60px;
}

.td_logo {
   text-align: left;
   padding: 0;
}

.td_menu {
   text-align: left;
   padding-left: 20px;
}

.td_extern {
   text-align: right;
   padding-right: 20px;
}

.a_logo {
   color: #FFD76E;
   text-decoration: none;
}

.a_menu {
   color: #FFD76E;
   text-decoration: none;
   font-size: 10pt;
}

.a_extern {
   color: #FFD76E;
   text-decoration: none;
}

.span_menu {
   color: #FFFF00;
}

.img_logo {
   width: 90px;
}

.img_menu {
   height: 16px;
   vertical-align: middle;
}

.img_extern {
   height: 30px;
}
