body {
   background-color: #000000;
   margin: 0px;
   padding: 0px;
   font-size: 0pt;
   text-size-adjust: none;
}

table {
   border-spacing: 0;
   margin: 0px;
   padding: 0px;
   width: 100%;
   height: 100%;
}

td.intro {
   margin:  0px;
   padding: 0px 0px 0px 5%;
   height: 100%;
   vertical-align: middle;
   text-align: left;
}

td.earth {
   margin: 0px;
   padding: 0px;
   height: 100%;
   vertical-align: middle;
   text-align: center;
}

td.moon {
   padding: 0;
   margin: 0;
   height: auto;
   vertical-align: bottom;
   text-align: center;
}

p {
   font-family: "Times New Roman";
   font-size: 28px;
   font-style: italic;
   font-weight: bold;
   color: #FFFF40;
}

a {
   color: #80FFFF;
   text-decoration: none;
}

object {
   border: none;
   padding: 0px;
   margin: 0px;
   width: 100%;
   height: 100%;
}

div.header {
   position: fixed;
   top: 0px;
   left: 0px;
   right: 0px;
   height: 60px;
}

div.content {
   position: fixed;
   top: 60px;
   bottom: 60px;
   left: 0px;
   right: 0px;
   overflow: auto;
}

div.footer {
   position: fixed;
   bottom: 0px;
   left: 0px;
   right: 0px;
   height: 60px;
}

img.earth {
   width: 350px;
}

img.moon {
   width: 100%;
   display: block;
}
