body {
    font-size:   14pt;
}

.headinfo {
    text-align:  right;
}

.date {
    color:       green;
}

.title {
    color:       red;
    font-style:  italic;
    text-align:  center;
}

.subtitle {
    color:       blue;
}

.figure {
    text-align:  center;
    width:       100%;
}
