.headinfo {
    text-align:  right;
}

.date {
    color:       green;
    text-align:  center;
}

.title {
    color:       red;
    font-style:  italic;
    text-align:  center;
}

.subtitle {
    color:       blue;
}

.figure {
    text-align:  center;
    width:       100%;
}

iframe[seamless] {
    border: none;
}
